<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/style.css"/>
<title>
Assistant
</title>
</head>
<body>
<p align="center">
Assistant Signup
</p>
<div align="center">
Ready for your own personal assistant? Enter your email address:
<form method="POST">
<input name="email">
<p align="center">
Check the services you would like to subscribe to.
</p>
<p align="center">
<input type="checkbox" name="gnosis" value="gnosis">Arcane Gnostic Readings<br>
<input type="checkbox" name="stocks" value="stocks">Popular Stock Updates<br>
</p>
<input type="submit">
</form>
</div>
</body>
</html>
